.css-r44k6v{
  .css-env1z2 {
    margin-bottom: 25px;
  }
  .css-cnfgt3 {
    margin-top: 8px;
    transform-origin: 50% 0px;
    transition-property: visibility, height, margin-top, opacity, transform;
    transition-duration: 0s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out;
  }
  .css-q5x77e {
    margin-top: 15px;
  }
  .css-1s25hsw {
    margin-top: 15px;
  }
  .css-1w9zxjf {
    div{
      justify-content: center;
      display: flex !important;
    }
    span{
      justify-content: center;
      display: flex !important;
    }
  }
  .css-178ag6o {
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    margin: 0px 2px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .css-1edgkow {
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-weight: 500;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #EE0033;
    cursor: pointer;
    height: 3em;
    line-height: 3em;
    padding: 0px 10px;
    width: 100%;
    justify-content: center;
    color: #FFFFFF !important;
  }
}
.css-321lzd {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;

  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgb(23, 43, 77);
  }
}
.ant-select {
  width: 100%;
}
