<div  class="content">
  <div class="container-fluid scrollable-table">
    <div class="container-right">
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Danh sách tìm kiếm" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="role-team">
        <nz-avatar-group>
          <nz-avatar style="color:#f56a00; background-color:#fde3cf;" *ngFor="let member of teamData" [nzIcon]="member.picture ? 'user' : undefined" [nzSrc]="member.picture" title="{{member.fullName}}"></nz-avatar>
        </nz-avatar-group>
        <div class="team-avatar">
          <span nz-icon nzType="user-add" nzTheme="outline"></span>
        </div>
      </div>
    </div>
    <div class="container-left">
      <button>
        <span nz-icon nzType="share-alt" nzTheme="outline"></span>
        Chia sẻ
      </button>
      <button>
        <span nz-icon nzType="align-center" nzTheme="outline"></span>
        Bộ lọc
      </button>
      <button>
        <span nz-icon nzType="menu" nzTheme="outline"></span>
        Nhóm theo :
      </button>
      <button>
        <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
        Hơn
      </button>
    </div>
  </div>
  <div class="container-body">
    <div class="scrollable-table">
      <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="projectData"
      [nzShowPagination]="false"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      [nzScroll]="{ x: '120vw'}"
    >
      <thead>
        <tr>
          <th
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>Kiểu</th>
          <th>
            <span nz-icon nzType="number" nzTheme="outline"></span>
            Khóa
          </th>
          <th>Tóm tắt</th>
          <th>
            <span nz-icon nzType="right-circle" nzTheme="outline"></span>
            Trạng thái
          </th>
          <th>Loại</th>
          <th>Công việc</th>
          <th>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Giờ thực hiện
          </th>
          <th>
            <span nz-icon nzType="up-circle" nzTheme="outline"></span>
            Sự ưu tiên
          </th>
          <th>Nhãn</th>
          <th>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Ngày tạo
          </th>
          <th>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Ngày cập nhật
          </th>
          <th>
            <span nz-icon nzType="team" nzTheme="outline"></span>
            Quản lý
          </th>
          <th nzRight>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data"
          style="cursor: pointer;"
        >
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.taskType }}</td>
          <td>{{ data.projectKey }}</td>
          <td>{{ data.summary }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.age }}</td>
          <td> {{ data.description }}</td>
          <td>{{ data.actualHoursSpent }}</td>
          <td>{{ priorityMap[data.priority] }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.createdDate | date: "dd-MM-yyyy" }}</td>
          <td>{{ data.endDate | date: "dd-MM-yyyy"}}</td>
          <td>{{ data.fullName }}</td>
          <td nzRight style=" cursor: pointer; display: flex; justify-content: space-evenly; align-items: center">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
            <span nz-icon nzType="form" nzTheme="outline"></span>
            <span nz-icon nzType="copy" nzTheme="outline">
            </span>
          </td>
        </tr>
      </tbody>
      </nz-table>
    </div>
  </div>
</div>

