<div  class="content">
  <div class="container-fluid scrollable-table">
    <div class="container-right">
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Tìm kiếm Bảng" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="role-team">
        <nz-avatar-group>
          <nz-avatar style="color:#f56a00; background-color:#fde3cf;" *ngFor="let member of teamData" [nzIcon]="member.picture ? 'user' : undefined" [nzSrc]="member.picture" title="{{member.fullName}}"></nz-avatar>
        </nz-avatar-group>
        <div class="team-avatar" (click)="showsTeamMember()">
          <span nz-icon nzType="user-add" nzTheme="outline"></span>
        </div>
      </div>
    </div>
    <div class="container-left">
      <button>
        <span nz-icon nzType="share-alt" nzTheme="outline"></span>
        Chia sẻ
      </button>
      <button>
        <span nz-icon nzType="align-center" nzTheme="outline"></span>
        Bộ lọc
      </button>
      <button>
        <span nz-icon nzType="menu" nzTheme="outline"></span>
        Nhóm theo :
      </button>
      <!-- Hơn -->
      <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="hon">
        <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
        Hơn
      </button>
      <nz-dropdown-menu #hon="nzDropdownMenu">
        <ul nz-menu class="drop-hon">
          <h5>XEM TÙY CHỌN</h5>
          <li nz-menu-item class="drop-li">
            <span nz-icon nzType="table" nzTheme="outline" class="drop-span"></span>
            Tùy chỉnh các thẻ
            <span nz-icon nzType="right" nzTheme="outline"></span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="split-cells" nzTheme="outline"></span>
            Mở rộng cột
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="merge-cells" nzTheme="outline"></span>
            Thu gọn cột
          </li>
        </ul>
      </nz-dropdown-menu>

    </div>
  </div>
  <div class="container-body">
    <form action="">

      <div class="content-todo">
        <div class="todo-header">
          <div class="todo-header-left">
            <span nz-icon nzType="holder" nzTheme="outline"></span>
            <p>Thực hiện</p>
          </div>
          <div class="todo-header-right">
            <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
          </div>
        </div>
        <div class="todo-drap">
          <button class="button-todo">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Tạo mới
          </button>
        </div>
      </div>

      <div class="content-process">
        <div class="process-header">
          <div class="process-header-left">
            <span nz-icon nzType="holder" nzTheme="outline"></span>
            <p>Thực hiện</p>
          </div>
          <div class="process-header-right">
            <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
          </div>
        </div>
        <div class="process-drap">
          <button class="button-process">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Tạo mới
          </button>
        </div>
      </div>

      <div class="content-done">
        <div class="done-header">
          <div class="done-header-left">
            <span nz-icon nzType="holder" nzTheme="outline"></span>
            <p>Thực hiện</p>
          </div>
          <div class="done-header-right">
            <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
          </div>
        </div>
        <div class="done-drap">
          <button class="button-done">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Tạo mới
          </button>
        </div>
      </div>

      <div class="content-plus">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </div>

    </form>
  </div>
</div>





<!-- Tạo thành viên dự án -->
<nz-modal
[(nzVisible)]="isTeamMember"
[nzFooter]="null"
nzTitle="Thêm thành viên vào nhóm"
[nzWidth]="850"
>
<ng-container *nzModalContent>
  <div class="header-modal">
    <p>Phần bắt buộc được đánh dấu bằng một dấu sao <span style="color: red;">*</span> </p>
    <div class="header-issue">
      <p> Vấn đề</p>
      <img _ngcontent-ng-c3631520248="" src="/assets/icon/project/Icon.svg" alt="">
    </div>
  </div>
  <div class="form-project">
    <form>
      <div class="scrollable-table-form-project">

        <div class="block-form">
          <label for="">Quản lý dự án <span style="color: red;">*</span></label>
          <ng-container *ngFor="let member of TaskData">
            <input style="width: 97%; color: #000000D9;" placeholder="{{member.projectManagerName}}" nz-input nzSize="large" id="projectName" name="projectName" disabled />
          </ng-container>
        </div>
        <div class="block-form">
          <label for="">Tên nhóm dự án <span style="color: red;">*</span></label>
          <nz-select id="userID" name="userID" [(ngModel)]="teammenber.teamID" style="width: 97%; color: #000000D9;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành viên vào nhóm dự án ...">
            <nz-option *ngFor="let member of TaskData" [nzLabel]="member.projectTeamName" [nzValue]="member.teamID"></nz-option>
          </nz-select>
        </div>

        <div class="block-form">
          <label for="">Thêm thành viên vào nhóm dự án <span style="color: red;">*</span></label>
          <nz-select id="userID" name="userID" [(ngModel)]="teammenber.userID" style="width: 97%; color: #000000D9;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành viên vào nhóm dự án ...">
            <nz-option *ngFor="let user of users" [nzLabel]="user.fullName" [nzValue]="user.userID"></nz-option>
          </nz-select>
        </div>
        <div class="block-form">
          <label for="">Ngày khởi tạo</label>
          <nz-date-picker nzSize="large" style="width: 97%;"  [nzFormat]="dateFormat" [nzPlaceHolder]="'Ngày bắt đầu công việc ...'" [(ngModel)]="teammenber.joinDate" id="createdDate" name="createdDate"></nz-date-picker>
        </div>

      </div>
      <div class="footer">
        <button (click)="isTeamMember = false" class="footer-cancel">Hủy</button>
        <button class="footer-add" (click)="OksTeamMember()">Xác nhận</button>
      </div>

    </form>
  </div>
</ng-container>
</nz-modal>
