<div class="bg-title">
  <div class="bg-header-text">
    <div class="header-text">
      <h5>Trang chủ</h5>
      <p>Date time oct, 08-11-2023</p>
    </div>
    <div class="bg-header-text-button">
      <button nz-button (click)="showAddProject()">Tạo dự án</button>
    </div>
  </div>
  <nz-modal
    [(nzVisible)]="isProject"
    [nzFooter]="null"
    nzTitle="Thêm dựa án mới "
    [nzWidth]="850"
  >
    <ng-container *nzModalContent>
      <div class="header-modal">
        <p>Phần bắt buộc được đánh dấu bằng một dấu sao <span style="color: red;">*</span> </p>
        <div class="header-issue">
          <p> Vấn đề</p>
          <img _ngcontent-ng-c3631520248="" src="/assets/icon/project/Icon.svg" alt="">
        </div>
      </div>
      <div class="form-project">
        <form>
          <div class="scrollable-table-form-project">
            <div class="block-form">
              <label for="">Tên dự án <span style="color: red;">*</span></label>
              <input style="width: 97%;" placeholder="Nhập tên dự án ..." nz-input nzSize="large" />
            </div>
            <div class="block-form">
              <label for="">Quản lý dự án <span style="color: red;">*</span></label>
              <input style="width: 97%;" nz-input placeholder="Chọn quản lý dự án ..."  nzSize="large" />
            </div>
            <div class="block-form">
              <label for="">Thành viên nhóm dự án <span style="color: red;">*</span></label>
              <input style="width: 97%;" placeholder="Chọn nhóm dự án ..." nz-input  nzSize="large" />
            </div>
            <div class="block-form">
              <label for=""> Mô tả dự án <span style="color: red;">*</span></label>
              <input style="width: 97%;" nz-input placeholder="Mô tả dự án ..."  nzSize="large" />
            </div>
            <div class="block-form">
              <label for="">Ngày khởi tạo</label>
              <nz-date-picker nzSize="large" style="width: 97%;" [nzPlaceHolder]="'Ngày tạo dự án ...'" [nzFormat]="dateFormat" name="createdDate" required></nz-date-picker>
            </div>
            <div class="block-form">
              <label for="">Ngày hết hạn</label> <br>
              <nz-date-picker nzSize="large" style="width: 97%;" [nzPlaceHolder]="'Ngày hết hạn dự án ...'" [nzFormat]="dateFormat" name="createdDate" required></nz-date-picker>
            </div>
            <div class="block-form">
              <label for="">Chìa khóa <span style="color: red;">*</span></label>
              <input style="width: 97%;" nz-input placeholder="Khóa dự án ..."  nzSize="large" />
            </div>

            <div class="block-form">
              <label>Thông tin hợp đồng phía khánh hàng tham gia dự án:</label>
            </div>

            <!-- Tên khánh hàng -->
            <div class="block-form">
              <label for="">Tên khách hàng <span style="color: red;">*</span></label>
              <input style="width: 97%;" placeholder=" Tên khánh hàng ..." nz-input  nzSize="large" />
            </div>
            <!-- Email khách hàng -->
            <div class="block-form">
              <label for="">Email liên hệ <span style="color: red;">*</span></label>
              <input style="width: 97%;" placeholder="Email khách hàng ..." nz-input  nzSize="large" />
            </div>
            <!-- Số điện thoại -->
            <div class="block-form">
              <label for="">Số điện thoại <span style="color: red;">*</span></label>
              <input style="width: 97%;" nz-input placeholder="Số điện thoại khách hàng ..."  nzSize="large" />
            </div>
          </div>
          <div class="footer">
            <button (click)="isProject = false" class="footer-cancel">Hủy</button>
            <button class="footer-add">Xác nhận</button>
          </div>

        </form>
      </div>
    </ng-container>
  </nz-modal>
  <div class="bg-header-tabs">
    <nz-tabset>
      <nz-tab (nzClick)="statusView = 1" nzTitle="Tổng quan"></nz-tab>
      <nz-tab (nzClick)="statusView = 2" nzTitle="Hồ sơ"></nz-tab>
      <nz-tab (nzClick)="statusView = 3" nzTitle="Thống kê"></nz-tab>
      <nz-tab (nzClick)="statusView = 4" nzTitle="Nhóm"></nz-tab>
      <nz-tab (nzClick)="statusView = 5" nzTitle="Thiết lập"></nz-tab>
      <nz-tab nzTitle="Tin nhắn"></nz-tab>
      <nz-tab nzTitle="Thông báo"></nz-tab>
    </nz-tabset>
  </div>
</div>


<div class="content-body ">
  <div class="scrollable-table ">
    <div *ngIf="statusView === 1" class="dashboard-module">
      <div class="bg-card-app">
        <div class="bg-card-app-sketch">
          <div class="sketch-img">
            <img src="/assets/icon/project/Avatar.svg" alt="">
          </div>
          <h6>Sketch</h6>
          <nz-progress [nzPercent]="70" [nzShowInfo]="false" nzStatus="exception"></nz-progress>
          <div class="sketch-GB">
            <p>150 GB</p>
            <p>120 GB</p>
          </div>
        </div>
        <div class="bg-card-app-sketch">
          <div class="sketch-img">
            <img src="/assets/icon/project/asana.svg" alt="">
          </div>
          <h6>Asana</h6>
          <nz-progress [nzPercent]="50" [nzShowInfo]="false" nzStatus="exception" ></nz-progress>
          <div class="sketch-GB">
            <p>120 GB</p>
            <p>50 GB</p>
          </div>
        </div>
        <div class="bg-card-app-sketch">
          <div class="sketch-img">
            <img src="/assets/icon/project/trello.svg" alt="">
          </div>
          <h6>Trello</h6>
          <nz-progress [nzPercent]="80" [nzShowInfo]="false" nzStatus="exception"></nz-progress>
          <div class="sketch-GB">
            <p>180 GB</p>
            <p>20 GB</p>
          </div>
        </div>
        <div class="bg-card-app-sketch">
          <div class="sketch-img">
            <img src="/assets/icon/project/dropbox.svg" alt="">
          </div>
          <h6>Dropbox</h6>
          <nz-progress [nzPercent]="30" [nzShowInfo]="false" nzStatus="exception"></nz-progress>
          <div class="sketch-GB">
            <p>20 GB</p>
            <p>150 GB</p>
          </div>
        </div>
      </div>
      <section class="section-map">
        <div class="left-map">
          <div class="header-map">
            <h6>Demographics</h6>
            <p>
              <img src="/assets/icon/project/Icon.svg" alt="">
            </p>
          </div>
        </div>
        <div class="right-map">
          <div class="header-map">
            <h6>Thống kê</h6>
            <p nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
              <img src="/assets/icon/project/Icon.svg" alt="">
            </p>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Xuất file PDF</li>
                <li nz-menu-item>Xem chi tiết</li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <div class="header-progress">
            <div class="progress-circle">
              <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="200" ></nz-progress>
            </div>
            <div class="progress-map-body">
              <div class="progress-map">
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Games
                  </span>
                  <h6>16,58%</h6>
                </div>
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Movies
                  </span>
                  <h6>25,58%</h6>
                </div>
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Kids
                  </span>
                  <h6>54.32%</h6>
                </div>
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Home
                  </span>
                  <h6>9.78%</h6>
                </div>
              </div>
              <div class="progress-map">
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Music
                  </span>
                  <h6>34.45%</h6>
                </div>
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Books
                  </span>
                  <h6>8.53%</h6>
                </div>
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Clothing
                  </span>
                  <h6>3.45%</h6>
                </div>
                <div class="progress-data">
                  <span>
                    <img src="/assets/icon/project/Icon-plus.svg" alt="">
                    Movies
                  </span>
                  <h6>0.14%</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<!-- <app-project-profile *ngIf="statusView === 2"></app-project-profile>

<app-project-statis *ngIf="statusView === 3"></app-project-statis>

<app-project-team *ngIf="statusView === 4"></app-project-team>

<app-project-setting *ngIf="statusView ===5"></app-project-setting> -->

