<div class="bg-main-setting">
  <div class="content" style="display: flex; justify-content:center; align-items:center">
    <form style="width: 500px;">
      <div class="pg-img">
        <img src="/assets/logo/5.png" width="34px" height="34px" alt="">
      </div>
      <div class="block-form">
        <label for=""> Tên dự án :</label>
        <input style="width: 97%;" nz-input nzSize="large" id="projectName" name="projectName" />
      </div>
      <div class="block-form">
        <label for=""> Khóa dự án :</label>
        <input style="width: 97%;" nz-input nzSize="large" id="leadFullName" name="leadFullName" />
      </div>
      <div class="block-form">
        <label for=""> Trưởng dự án :</label>
        <input style="width: 97%;" nz-input nzSize="large" id="leadFullName" name="leadFullName" />
      </div>
      <div class="block-form">
        <label for=""> Nhóm dự án :</label>
        <input style="width: 97%;" nz-input nzSize="large" id="projectLead" name="projectLead" />
      </div>
      <div class="block-form">
        <label for=""> Người được chuyển nhượng mặc định :</label>
        <input style="width: 97%;" nz-input nzSize="large" id="projectLead" name="projectLead" />
      </div>
    </form>
  </div>
</div>
