<nav class="css-vtikxo col-sm-9 col-9">

  <button class="css-1iyy2v3 d-block mb-2 ms-3" type="button">
    <span nz-icon nzType="appstore" nzTheme="outline" style="font-size: 24px;"></span>
  </button>

  <a routerLink="/user/project" class="css-me4kch d-block">
    <div class="css-gij9v3">
      <span class="css-12mte9y">
        <img src="/assets/image/intro/logogray-2.png" alt="Logo Task Sofware">
      </span>
    </div>
  </a>

  <div class="css-njhh6c">

    <!-- Công việc -->
    <div class="css-17unx0o">
      <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="congviec" class="css-798be7" type="button">
        Công Việc
      </button>
      <nz-dropdown-menu #congviec="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item style="width: 330px;">
            <nz-tabset>
              <nz-tab nzTitle="Giao cho tôi">
                <div class="_16jlkb7n _1reo1wug _18m91wug _1yt4unmg _vchhusvi">
                  <div class="_19pkidpf _2hwx1wug _otyridpf _18u01wug _1bsbnklw _1e0c1txw _y3gn1h6o _2lx21bp4">
                    <img src="/assets/icon/project/bang.svg"
                      class="_1e0c1ule _1yt47e8x _19pkidpf _2hwx1wug _otyridpf _18u01wug _p12f1osq _1bsb1lit _4t3i1wug">
                    <div class="_1e0c1ule _1yt4yv9d">
                      <p>
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Bạn không có vấn đề mở nào được giao cho bạn.</font>
                        </font>
                      </p><a target="_blank" rel="noopener noreferrer">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Tìm hiểu thêm về bảng</font>
                        </font>
                      </a>
                    </div>
                  </div>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Gần đây">Gần đây chưa có công việc nào cụ thể dành cho bạn</nz-tab>
              <nz-tab nzTitle="Bảng">
                Bảng hiện nay đang trống các công việc của bạn
              </nz-tab>
            </nz-tabset>
          </li>
          <li nz-menu-item class="css-bc3sqp" style="height: 50px"> Xem tất cả các bảng</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <!-- Dự án -->
    <div class="css-10d50pf">
      <button class="css-798be7" type="button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="project">
        Dự Án
      </button>
      <nz-dropdown-menu #project="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button class="css-1m7bkbm" type="button">
              <span class="css-12dc8u4">
                <span class="css-1rnc8rc">
                  <span class="css-1afrefi">
                    <span nz-icon nzType="fullscreen" nzTheme="outline" class="css-1dr55qw"></span>
                  </span>
                </span>
                <span class="css-1uww2tp">
                  <span class="css-5mekwu"> Xem tất cả dự án</span>
                </span>
              </span>
            </button>
          </li>
          <li nz-menu-item>
            <button class="css-1m7bkbm" type="button">
              <span class="css-12dc8u4">
                <span class="css-1rnc8rc">
                  <span nz-icon nzType="file-protect" nzTheme="outline" class="css-1dr55qw"></span>
                </span>
                <span class="css-1uww2tp">
                  <span class="css-5mekwu">Tạo dự án</span>
                </span>
              </span>
            </button>
          </li>
          <div class="css-bc3sqp" nz-menu-item>
            <button class="css-1m7bkbm" type="button">
              <span class="css-12dc8u4">
                <span class="css-1uww2tp">
                  <span class="css-5mekwu">Tìm kiếm dự án</span>
                </span>
              </span>
            </button>
          </div>
        </ul>
      </nz-dropdown-menu>
    </div>
    <!-- Bộ lọc -->
    <div class="css-17unx0o">
      <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="boloc" class="css-798be7" type="button">
        Bộ Lọc
      </button>
      <nz-dropdown-menu #boloc="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <div class="_19pkidpf _2hwx1wug _otyridpf _18u01wug _1bsbnklw _1e0c1txw _y3gn1h6o _2lx21bp4">
              <img src="/assets/icon/project/boloc.svg" class="_1e0c1ule _1yt47e8x _19pkidpf _2hwx1wug _otyridpf _18u01wug _p12f1osq _1bsb1lit _4t3i1wug" />
              <div class="_1e0c1ule _1yt4yv9d">
                <div>
                  <p>
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">Tạo bảng điều khiển để theo dõi trạng thái dự án của bạn.
                      </font>
                    </font>
                  </p>
                </div>
                <div>
                  <a target="_blank" rel="noopener noreferrer">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">Tìm hiểu thêm về trang tổng quan</font>
                    </font>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li nz-menu-item class="css-bc3sqp" style="height: 50px"> Xem tất cả các bộ lọc </li>
          <li nz-menu-item style="height: 50px">Xem tất cả các vấn đề</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <!-- Tổng quan -->
    <div class="css-17unx0o">
      <button class="css-798be7" tabindex="0" type="button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="tongquan">
        Tổng quan
      </button>
      <nz-dropdown-menu #tongquan="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <div class="_19pkidpf _2hwx1wug _otyridpf _18u01wug _1bsbnklw _1e0c1txw _y3gn1h6o _2lx21bp4">
              <img src="https://jira-frontend-bifrost.prod-east.frontend.public.atl-paas.net/assets/dashboards-empty.ed2e5362.svg" class="_1e0c1ule _1yt47e8x _19pkidpf _2hwx1wug _otyridpf _18u01wug _p12f1osq _1bsb1lit _4t3i1wug" />
              <div class="_1e0c1ule _1yt4yv9d">
                <div>
                  <p>
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">Tạo bảng điều khiển để theo dõi trạng thái dự án của bạn.
                      </font>
                    </font>
                  </p>
                </div>
                <div>
                  <a target="_blank" rel="noopener noreferrer">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">Tìm hiểu thêm về trang tổng quan</font>
                    </font>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li nz-menu-item class="css-bc3sqp" style="height: 50px">
            Xem tất cả bảng điều khiển
          </li>
          <li nz-menu-item style="height: 50px">Tạo trang tổng quan</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <!-- Đội nhóm -->
    <div class="css-17unx0o">
      <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="team" class="css-798be7" type="button">
        Đội nhóm
      </button>
      <nz-dropdown-menu #team="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button class="css-1m7bkbm" type="button">
              <span class="css-12dc8u4">
                <span class="css-1rnc8rc">
                  <span class="css-1afrefi">
                    <span nz-icon nzType="plus" nzTheme="outline" class="css-1dr55qw"></span>
                  </span>
                </span>
                <span class="css-1uww2tp">
                  <span class="css-5mekwu"> Thêm thành viên vào nhóm</span>
                </span>
              </span>
            </button>
          </li>
          <li nz-menu-item>
            <button class="css-1m7bkbm" type="button">
              <span class="css-12dc8u4">
                <span class="css-1rnc8rc">
                  <span nz-icon nzType="usergroup-add" nzTheme="outline" class="css-1dr55qw"></span>
                </span>
                <span class="css-1uww2tp">
                  <span class="css-5mekwu">Tạo đội nhóm</span>
                </span>
              </span>
            </button>
          </li>
          <div class="css-bc3sqp" nz-menu-item>
            <button class="css-1m7bkbm" type="button">
              <span class="css-12dc8u4">
                <span class="css-1uww2tp">
                  <span class="css-5mekwu">Tìm kiếm người và nhóm</span>
                </span>
              </span>
            </button>
          </div>
        </ul>
      </nz-dropdown-menu>
    </div>
    <!-- Hơn -->
    <div class="css-17unx0o">
      <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="hone" class="css-798be7" type="button">
        Hơn
        <span class="css-178ag6o">
          <img class="mr-15 filter-pink" width="15px" height="15px" src="/assets/icon/intro/chevron-down-arrow.svg">
        </span>
      </button>
      <nz-dropdown-menu #hone="nzDropdownMenu">
        <ul nz-menu>
          <div class="css-nqshte" style="width: 300px;">
            <div class="css-xhdqsk">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Được đề xuất cho nhóm của bạn</font>
              </font>
            </div>
            <small class="_syaz1wmz _1yt467l7 _19pkidpf _2hwxidpf _otyridpf _18u0idpf _1e0c1ule _p12f1178">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Vận chuyển nhanh hơn với các ứng dụng trên thị trường tích hợp
                  các công cụ của nhóm bạn với Jira.</font>
              </font>
            </small>
            <a target="_blank" class="css-1m7bkbm">
              <span class="css-12dc8u4">
                <span class="css-1rnc8rc">
                  <img
                    src="https://jira-frontend-bifrost.prod-east.frontend.public.atl-paas.net/assets/circleCI.a4fabf69.png"
                    width="24" height="24">
                </span>
                <span class="css-1uww2tp">
                  <span class="css-5mekwu">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Vòng tròn CI (CI/CD)</font>
                    </font>
                  </span>
                </span>
              </span>
            </a>
            <a target="_blank" class="css-1m7bkbm">
              <span class="css-12dc8u4">
                <span class="css-1rnc8rc">
                  <img
                    src="https://jira-frontend-bifrost.prod-east.frontend.public.atl-paas.net/assets/xray.4a45f47c.png"
                    width="24" height="24" alt="logo tia x">
                </span>
                <span class="css-1uww2tp">
                  <span class="css-5mekwu">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">X-quang (Thử nghiệm)</font>
                    </font>
                  </span>
                </span>
              </span>
            </a>
            <a target="_blank" class="css-1m7bkbm">
              <span class="css-12dc8u4">
                <span class="css-1rnc8rc">
                  <img
                    src="https://jira-frontend-bifrost.prod-east.frontend.public.atl-paas.net/assets/zephyrSquad.8de8b15e.png"
                    width="24" height="24" alt="logo zephyrSquad"></span><span class="css-1uww2tp"><span
                    class="css-5mekwu">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Biệt đội Zephyr (Thử nghiệm)</font>
                    </font>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <li nz-menu-item class="css-bc3sqp" style="height: 50px"> Khám phá thêm ứng dụng</li>
          <li nz-menu-item style="height: 50px">Quản lý ứng dụng của bạn</li>
          <li nz-menu-item style="height: 50px">Xem yêu cầu ứng dụng</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <!-- Tạo CV -->
    <div class="css-hue21z">
      <button class="css-1oonzef" tabindex="0" type="button" (click)="showModal()">
        <span class="css-178ag6o">Tạo CV</span>
      </button>
      <nz-modal [nzWidth]="'1280px'" [nzStyle]="{ 'height': '400px', 'z-index': '1000' }" [(nzVisible)]="isVisible" nzTitle="Tạo công việc" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
          <div id="issue-create-modal-dropzone-container">
            <div class="_kqswh2mm">

              <form #taskForm="ngForm">

                <div class="_1e0c1txw _1bah1yb4 _4cvr1h6o">
                  <p class="_syaz1n3s _1wybdlk8">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Phần bắt buộc được đánh dấu bằng một dấu sao </font>
                      <span title="required" class="css-twk84a">
                        <font style="vertical-align: inherit;">*</font>
                      </span>
                    </font>
                    <span title="yêu cầu" class="css-twk84a">
                      <font style="vertical-align: inherit;"></font>
                    </span>
                  </p>
                  <div class="_1e0c1txw _kqswh2mm _1pbykb7n">
                    <div class="_1n1uewfl _nz6rewfl">
                      <div role="presentation">
                        <div class="_hyh1otz2 _a7a01txw _18iz1h6o _1e0c1txw _1bahesu3 _2hwxu2gc">
                          <button class="css-48ccbj" type="button">
                            <span class="css-178ag6o">
                              <div class="_1e0c1txw _4cvr1h6o">
                                <div class="_1e0c1txw">
                                  <span aria-hidden="true" class="css-1afrefi">
                                    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                                      <g fill="currentColor" fill-rule="evenodd">
                                        <path d="M11.983 15.984a4.005 4.005 0 01-4.002-4c0-2.206 1.795-4 4.002-4a4.005 4.005 0 014.002 4c0 2.206-1.795 4-4.002 4M12 4C6.48 4 2 8.84 2 12c0 3.086 4.577 8 10 8s10-4.914 10-8c0-3.16-4.481-8-10-8"></path>
                                        <circle cx="12" cy="12" r="2"></circle>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div class="rf2q2w-0 cyBBWt">
                                  <span style="white-space: pre;">
                                    <span style="position: relative; display: inline-block;">
                                      <span style="visibility: hidden;">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">1</font>
                                        </font>
                                      </span>
                                      <span style="display: inline-block; position: absolute; left: 0px; transition: transform 0.2s ease 0s, opacity 0.2s ease 0s; transform: translateY(0px) translateZ(0px); opacity: 1; pointer-events: none;">
                                        <font style="vertical-align: inherit;">
                                          <font style="vertical-align: inherit;">1</font>
                                        </font>
                                      </span>
                                    </span>
                                  </span>
                                </div>
                              </div>
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <a class="css-1luyhz2">
                      <span class="css-178ag6o">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Vấn đề nhập khẩu</font>
                        </font>
                      </span>
                    </a>
                    <div class="_18u0u2gc">
                      <button class="css-9snh2d" type="button">
                        <span class="css-bwxjrz">
                          <span aria-hidden="true" class="css-snhnyn">
                            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                              <g fill="currentColor" fill-rule="evenodd">
                                <circle cx="5" cy="12" r="2"></circle>
                                <circle cx="12" cy="12" r="2"></circle>
                                <circle cx="19" cy="12" r="2"></circle>
                              </g>
                            </svg>
                          </span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Dự án -->
                <div class="sc-19b2ov5-0 jggFZG">
                  <div class="css-q5x77e">
                    <label class="css-1nzatiy" for="userID">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Quản lý dự án </font>
                      </font>
                      <span title="yêu cầu" class="css-twk84a">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                        </font>
                      </span>
                    </label>
                    <div class=" css-rq8zrp-container">
                      <nz-select id="projectID" name="projectID" [(ngModel)]="task.projectID" required class="css-l6rpfx-control" nzPlaceHolder="Chọn dự án của bạn ...">
                        <nz-option *ngFor="let member of projectData" [nzLabel]="member.projectName" [nzValue]="member.projectID" required>
                          <div style="display: inline-block; position: relative; outline: 0px;">
                            <span class="css-bdn1be">
                              <img src="/assets/icon/10418.svg" class="css-13ep12v" style="border-radius: 2px;">
                            </span>
                          </div>
                        </nz-option>
                      </nz-select>
                    </div>
                  </div>
                </div>

                <!-- vấn đề -->
                <div class="sc-19b2ov5-0 jggFZG">
                  <div class="css-q5x77e">
                    <label class="css-1nzatiy" for="taskType">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Các loại vấn đề </font>
                      </font>
                      <span title="yêu cầu" class="css-twk84a">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                        </font>
                      </span>
                    </label>
                    <div role="presentation" class="css-w9huf">
                      <input id="taskType" name="taskType" nz-input placeholder="Nhập nhiệm vụ công việc ..." [(ngModel)]="task.taskType" type="text" class="css-1cab8vv" required/>
                    </div>
                  </div>
                </div>

                <div class="_4t3it94y _1bsb1osq _bfhkb5v6 _18s8gx6n"></div>

                <div class="rltek0-0 dvMMLD">

                  <!-- Tóm tắt -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label class="css-1nzatiy" for="summary">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Bản tóm tắt </font>
                        </font>
                        <span title="yêu cầu" class="css-twk84a">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                          </font>
                        </span>
                      </label>
                      <div role="presentation" class="css-w9huf">
                        <input id="summary" name="summary" nz-input placeholder="Nhập nhiệm vụ công việc ..." [(ngModel)]="task.summary" type="text" class="css-1cab8vv" required/>
                      </div>
                    </div>
                  </div>

                  <!-- quản lý -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label class="css-1nzatiy" for="userID">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Quản lý dự án </font>
                        </font>
                        <span title="yêu cầu" class="css-twk84a">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                          </font>
                        </span>
                      </label>
                      <div class=" css-rq8zrp-container">
                        <nz-select id="projectID" name="projectID" [(ngModel)]="task.userID" required class="css-l6rpfx-control" nzPlaceHolder="Chọn quản lý dự án của bạn ...">
                          <nz-option *ngFor="let member of projectData" [nzLabel]="member.projectManagerName" [nzValue]="member.userID" required>
                            <div style="display: inline-block; position: relative; outline: 0px;">
                              <span class="css-bdn1be">
                                <img src="/assets/icon/10418.svg" class="css-13ep12v" style="border-radius: 2px;">
                              </span>
                            </div>
                          </nz-option>
                        </nz-select>
                      </div>
                    </div>
                  </div>


                  <!-- ngày bắt đầu -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label class="css-1nzatiy" for="createdDate">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Ngày bắt đầu</font>
                        </font>
                      </label>
                      <div class="bjmwba-0 dUYTXR">
                        <nz-date-picker class="css-1cab8vvv" id="createdDate" name="createdDate" [nzPlaceHolder]="'Ngày bắt đâu công việc'" [(ngModel)]="task.createdDate" required></nz-date-picker>
                      </div>
                    </div>
                  </div>

                  <!-- ngày đáo hạn -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label for="endDate" class="css-1nzatiy">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Ngày đáo hạn</font>
                        </font>
                      </label>
                      <div class="bjmwba-0 dUYTXR">
                        <nz-date-picker class="css-1cab8vvv" id="endDate" name="endDate" [nzPlaceHolder]="'Ngày hết hạn công việc'" [(ngModel)]="task.endDate" required></nz-date-picker>
                      </div>
                    </div>
                  </div>

                  <!-- ưu tiên -->
                  <!-- <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label class="css-1nzatiy" for="priority">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Sự ưu tiên</font>
                        </font>
                      </label>
                      <div class="bjmwba-0 dUYTXR">
                        <div class=" css-rq8zrp-container">
                          <select [(ngModel)]="task.priority" id="priority" name="priority" class="custom-select" required>
                            <option value="1">Low</option>
                            <option value="2">Lowest</option>
                            <option value="3">Medium</option>
                            <option value="4">High</option>
                            <option value="5">Highest</option>
                          </select>
                        </div>
                      </div>
                      <div class="_742a4jg8 _woio1wmz _jkue1crf _1bpk7vkz _13od1b66 _1pz31ynx">
                        <div class="ak-renderer-wrapper is-undefined css-2c6ch1">
                          <div class="css-14yskov">
                            <div class="ak-renderer-document">
                              <p>
                                <a class="css-tgpl01">
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Tìm hiểu về mức độ ưu tiên</font>
                                  </font>
                                </a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label class="css-1nzatiy" for="priority">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Sự ưu tiên </font>
                        </font>
                        <span class="css-twk84a">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                          </font>
                        </span>
                      </label>
                      <div class=" css-rq8zrp-container">
                        <nz-select id="priority" name="priority" [(ngModel)]="task.priority" class="css-l6rpfx-control" nzPlaceHolder="Mức độ ưu tiên công việc ..." required>
                          <nz-option nzValue="1" nzLabel="Low">
                            Low
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                              <path d="M12.5 6.1c.5-.3 1.1-.1 1.4.4.3.5.1 1.1-.3 1.3l-5 3c-.3.2-.7.2-1 0l-5-3c-.6-.2-.7-.9-.4-1.3.2-.5.9-.7 1.3-.4L8 8.8l4.5-2.7z" fill="#0065ff"/>
                            </svg>
                          </nz-option>
                          <nz-option nzValue="2" nzLabel="Lowest">Lowest</nz-option>
                          <nz-option nzValue="3" nzLabel="Medium">Medium</nz-option>
                          <nz-option nzValue="4" nzLabel="High">High</nz-option>
                          <nz-option nzValue="5" nzLabel="Highest">Highest</nz-option>
                        </nz-select>
                      </div>
                    </div>
                  </div>

                  <!-- Mô tả -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label for="description" class="css-1nzatiy">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Mô tả</font>
                        </font>
                      </label>
                      <div class="bjmwba-0 dUYTXR">
                        <div class=" css-rq8zrp-container">
                          <textarea style="width: 89%;" rows="4" nz-input id="description" name="description" class="css-1cab8v" required [(ngModel)]="task.description"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Mô tả chi tiết -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label for="taskDescription" class="css-1nzatiy">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Miêu tả</font>
                        </font>
                      </label>

                      <p-editor id="taskDescription" name="taskDescription" [style]="{ height: '320px' }" required ></p-editor>

                    </div>
                  </div>

                  <!-- file đính kèm -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label id="attachment-field-label" class="css-1nzatiy">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Tập tin đính kèm</font>
                        </font>
                      </label>
                      <div class="_1e0c1txw _1bah1h6o _19it1p8j _1yt4utpp _syaz1e9r">
                        <span class="_1e0c1txw _4cvr1h6o">
                          <span role="img" class="css-snhnyn">
                            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
                              <g fill="currentColor" fill-rule="evenodd">
                                <path
                                  d="M11.208 9.32L9.29 11.253a1 1 0 000 1.409.982.982 0 001.397 0l1.29-1.301 1.336 1.347a.982.982 0 001.397.001 1.002 1.002 0 00.001-1.408l-1.965-1.98a1.08 1.08 0 00-1.538-.001z">
                                </path>
                                <path
                                  d="M11 10.007l.001 9.986c0 .557.448 1.008 1 1.007.553 0 1-.45 1-1.007L13 10.006C13 9.451 12.552 9 12 9s-1.001.451-1 1.007z">
                                </path>
                                <path
                                  d="M7.938 5.481a4.8 4.8 0 00-.777-.063C4.356 5.419 2 7.62 2 10.499 2 13.408 4.385 16 7.1 16h2.881v-1.993H7.1c-1.657 0-3.115-1.663-3.115-3.508 0-1.778 1.469-3.087 3.104-3.087h.012c.389 0 .686.051.97.15l.17.063c.605.248.875-.246.875-.246l.15-.267c.73-1.347 2.201-2.096 3.716-2.119a4.14 4.14 0 014.069 3.644l.046.34s.071.525.665.525c.013 0 .012.005.023.005h.254c1.136 0 1.976.959 1.976 2.158 0 1.207-.987 2.342-2.07 2.342h-3.964V16h3.964C20.105 16 22 13.955 22 11.665c0-1.999-1.312-3.663-3.138-4.074-.707-2.707-3.053-4.552-5.886-4.591-1.975.021-3.901.901-5.038 2.481z">
                                </path>
                              </g>
                            </svg>
                          </span>
                          <span class="_18u01b66">
                            <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Thả tập tin để đính kèm hoặc</font>
                            </font>&nbsp;
                          </span>
                          <input type="file" multiple="" style="display: none;">
                          <button class="css-137quks" type="button">
                            <span class="css-1gd7hga">
                              <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">duyệt qua</font>
                              </font>
                            </span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>

                  <!-- thời gian công việc -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="bjmwba-0 dUYTXR" width="350">
                      <div class="css-q5x77e">
                        <label for="actualHoursSpent" class="css-1nzatiy">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Ước tính ban đầu</font>
                          </font>
                        </label>
                        <div role="presentation" class="css-1s25hsw">
                          <input nz-input id="actualHoursSpent" name="actualHoursSpent" placeholder="Nhập thời gian hoàn thành công việc ..." [(ngModel)]="task.actualHoursSpent" type="text" class="css-1cab8vv" required/>
                        </div>
                        <div class="_742a4jg8 _woio1wmz _jkue1crf _1bpk7vkz _13od1b66 _1pz31ynx">
                          <div class="ak-renderer-wrapper is-undefined css-2c6ch1">
                            <div style="display: block; width: 100%; position: absolute;"></div>
                            <div class="css-14yskov">
                              <div class="ak-renderer-document">
                                <p>
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Ước tính số lượng công việc còn lại cho đến
                                      khi vấn đề này được giải quyết. </font>
                                  </font><br>
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Định dạng của nó là ' *w *d *h *m ' (biểu
                                      thị tuần, ngày, giờ và phút - trong đó * có thể là bất kỳ số nào). </font>
                                  </font><br>
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Ví dụ: 4d, 5h 30m, 60m và 3w.</font>
                                  </font>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- thành viên -->
                  <div class="sc-19b2ov5-0 jggFZG">
                    <div class="css-q5x77e">
                      <label id="assignee-field-label" class="css-1nzatiy">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Người được chuyển nhượng</font>
                        </font>
                      </label>
                      <div class="sc-1y07npn-0 iwRRFK bjmwba-0 dUYTXR">
                        <div class=" css-rq8zrp-container">
                          <nz-select id="taskManagerID" name="taskManagerID" [(ngModel)]="task.taskManagerID" required class="css-l6rpfx-control" nzPlaceHolder="Chọn thành viên dự án ...">
                            <nz-option *ngFor="let member of teamData" [nzLabel]="member.fullName" [nzValue]="member.userID"></nz-option>
                          </nz-select>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </form>

            </div>
          </div>
        </ng-container>
      </nz-modal>
    </div>

  </div>

</nav>
