<div class="bg-title">
  <div class="header-location">
    <p>
      Hệ thống nhân sự
      <span style="margin: 8px;">
        <img src="/assets/icon/project/Icon-arrow.svg" alt="">
      </span>
      <a href="">Danh sách người dùng</a>
    </p>
  </div>
  <div class="bg-header-text">

    <div class="header-text">
      <h3>Danh sách người dùng</h3>
    </div>
    <div class="bg-header-text-button">
      <button>Thêm người dùng</button>
    </div>
  </div>
</div>


<div class="scrollable-table-form-body">
  <div class="content-body">
    <div class="header-map">
      <h6>Danh sách người dùng</h6>
      <p>
        <img src="/assets/icon/project/Icon.svg" alt="">
      </p>
    </div>

    <nz-table
      [nzShowPagination]="false"
      [nzData]="users"
      nzTableLayout="fixed"
      style="height: 360px;"
    >
      <thead>
        <tr>
          <th style="text-align: center;" [nzWidth]="'250px'">Họ tên</th>
          <th [nzWidth]="'250px'">Email</th>
          <th>Số điện thoại</th>
          <th>Chức vụ</th>
          <th>Ngày bắt đầu</th>
          <th>Trạng thái</th>
          <th style="text-align: center;">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of users">
          <td style="display: flex; gap: 10px; align-items: center;">
            <nz-avatar
            style="width: 32px; height: 32px;"
            nzText="{{ data.fullName.substring(0, 2).toUpperCase() }}"
            class="avatar-user">
          </nz-avatar>
            {{ data.fullName }}
          </td>
          <td>{{ data.emailAddress }}</td>
          <td>{{ data.phoneNumber }}</td>
          <td>{{ data.roleName }}</td>
          <td>{{ data.createdDate | date: 'dd-MM-yyyy'}}</td>
          <td><nz-progress [nzPercent]="data.progress" [nzShowInfo]="false"></nz-progress></td>
          <td style="text-align: center; cursor: pointer;">
            <span nz-icon nzType="ellipsis" nzTheme="outline" nz-dropdown nzTrigger="click" [nzDropdownMenu]="import" style="text-align: center;"></span>
          </td>

          <nz-dropdown-menu #import="nzDropdownMenu">
            <div nz-menu>
              <button class="css-1m7bkbm" type="button" nz-menu-item [routerLink]="['/project/user-details/'+ data.userID]">
                <span class="css-12dc8u4">
                  <span nz-icon nzType="exclamation-circle" nzTheme="outline"></span>
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">Xem chi tiết</span>
                  </span>
                </span>
              </button>
              <button class="css-1m7bkbm" type="button" nz-menu-item>
                <span class="css-12dc8u4">
                  <span nz-icon nzType="audit" nzTheme="outline"></span>
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">Phân quyền</span>
                  </span>
                </span>
              </button>
              <button class="css-1m7bkbm" type="button" nz-menu-item (click)="showDelete(data)">
                <span class="css-12dc8u4">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">Xóa tài khoản </span>
                  </span>
                </span>
              </button>

            </div>
          </nz-dropdown-menu>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>



<!-- Modal Delete -->
<nz-modal
  [(nzVisible)]="isDelete"
  [nzFooter]="null"
  nzWidth="480px"
>
<ng-container *nzModalContent>
  <div class="deleteModal">
    <div class="warring" style="margin-bottom: 10px;">
      <img src="/assets/icon/project/icon-warring.svg" alt="">
    </div>
    <h5>Xóa người dùng</h5>
    <p>Người dùng bị xóa sẽ biến mất khỏi hệ thống bao gồm tất cả các thông tin đã lưu và các tài nguyên mà dự án đó đang sở hữu. Bạn chắc chắn muốn xóa người dùng?</p>
  </div>
  <div class="footer">
    <button (click)="isDelete = false" class="footer-cancel">Hủy</button>
    <button class="footer-add" (click)="OkDelete()">Xác nhận</button>
  </div>
</ng-container>
</nz-modal>
