.css-1e52mjn {
  display: flex;
  height: 100vh;
  position: fixed;
  z-index: 500;
  background-color: #FFFFFF;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  overflow: hidden;
}

.css-110nfxs {
  flex: 1 1 0%;
  overflow: auto;
  margin: 0px;
}

._4t3i1osq {
  height: 100%;
}

.bxcrzz {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.bXitXB {
  box-sizing: border-box;
  width: 300px;
  min-width: 300px;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-top: 0px;
  margin-left: 0px;
  opacity: 1;
  height: 100%;
  overflow-y: auto;
  transition: all 120ms ease 0s;
}

.STlpo {
  z-index: 10;
  box-sizing: border-box;
  top: 0px;
  position: sticky;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 12px 0;
  border-bottom: rgba(0, 0, 0, 0) 2px solid;
  transition: all 120ms ease 0s;
}

.css-100klgf,
.css-100klgf:hover,
.css-100klgf:active,
.css-100klgf:focus,
.css-100klgf:focus-visible,
.css-100klgf:visited,
.css-100klgf:disabled,
.css-100klgf[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  height: 40px;
  line-height: 2.28571em;
  padding: 0px 2px;
  vertical-align: middle;
  width: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  color: #42526E !important;
}

button {
  font-family: inherit;
}

.css-bwxjrz {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin: 0px 2px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
}

.css-snhnyn {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
}

.css-snhnyn>svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

.ikodGJ>* {
  margin: 12px 0;
}

.uAzDm {
  padding: 12px;
  color: #172B4D;
  margin-top: 0px !important;
}

h2 {
  font-size: 1.7142857142857142em;
  font-style: inherit;
  line-height: 1.1666666666666667;
  color: #172B4D;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-top: 40px;
}

.khLWqa {
  margin: 8px 0 32px 0;
}

.css-izoqvx,
.css-izoqvx:hover,
.css-izoqvx:active,
.css-izoqvx:focus,
.css-izoqvx:focus-visible,
.css-izoqvx:visited,
.css-izoqvx:disabled,
.css-izoqvx[disabled] {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  color: #42526E;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  vertical-align: middle;
  width: 100%;
  justify-content: center;
  outline: none;
  margin: 2px;
}

.css-178ag6o {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px 2px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.css-1vt1eqd,
.css-1vt1eqd:hover,
.css-1vt1eqd:active,
.css-1vt1eqd:focus,
.css-1vt1eqd:focus-visible,
.css-1vt1eqd:visited,
.css-1vt1eqd:disabled,
.css-1vt1eqd[disabled] {
  align-items: baseline;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: left;
  color: #0052CC;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: 100%;
  justify-content: center;
  background-color: #DEEBFF;
  border-width: 0px;
  border-radius: 3px;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  padding: 0px 10px;
  outline: none;
  margin: 2px;
}

.css-1q91qu1 {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-right: -2px;
}

.css-4h66kx {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  display: flex;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-size: 0px;
  line-height: 0;
  user-select: none;
  margin-left: -2px;
}

.css-1gskvga {
  display: inline-block;
  position: relative;
  line-height: 1;
  user-select: none;
  white-space: normal;
  height: 24px;
}

.css-1gskvga>svg {
  height: 100%;
  fill: inherit;
}

.kOHgWD {
  font-size: 0.785714em;
  font-style: inherit;
  line-height: 1.45455;
  color: #6B778C;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 12px;
  font-weight: 600;
}

.css-auqgo3 {
  min-width: 0px;
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}

.rjGLK {
  box-sizing: border-box;
  background-color: #FAFBFC;
  flex: 1 1 0%;
  min-height: 100%;
  overflow-y: auto;
}

.css-q0b2qn {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}

.css-xxwux {
  display: flex;
  flex: 1 1 auto;
}

.css-tw4vmx {
  position: relative;
  z-index: 2;
}

.jnjTkz {
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 24px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

.css-1h6m8iz {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
}

.css-1ezvki8 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  height: 1.71429em;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  line-height: 1.71429em;
}

.css-1jng6we {
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  height: auto;
  line-height: inherit;
  padding: 0px;
  vertical-align: baseline;
  width: auto;
  justify-content: center;
  min-width: 0px;
  flex-shrink: 1;
  font-weight: 400;
  color: #6B778C !important;
}

a {
  color: #0052CC;
  text-decoration: none;
}

.jnjTkz a span {
  color: #505F79;
}

.css-1gd7hga {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  margin: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._18s8ghvb {
  margin: 1pc 24px;
}

.css-1a0x9v0 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-size: 1.4285714285714286em;
  line-height: 1.2;
  color: #172B4D;
  font-weight: 500;
  margin: 0;
}

._1kmx1a45>p {
  color: #505f79;
}

._1whz1ejb>p {
  margin-top: 12px;
}

.css-px4efj {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: calc(12 * 80px);
  margin: 0px auto;
  padding: 0 calc(16px / 2);
}

.css-8bbg6v {
  min-width: calc((99.9999% / var(--ds-columns-num)) - var(--ds-grid-spacing));
  margin: 0 calc(var(--ds-grid-spacing) / 2);
  flex: 1 0 100%;
  overflow-wrap: break-word;
  max-width: calc(100% - var(--ds-grid-spacing));
}

.afttj {
  margin: 0px;
  min-width: 660px;
  width: 880px;
  padding: 0 8px;
  height: 100%;
  overflow-y: auto;
}

.css-16evetn {
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  justify-content: center;
  color: #0052CC !important;
}

.css-1afrefi {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  width: 24px;
  height: 24px;
}

.css-1afrefi>svg {
  width: 24px;
  height: 24px;
}

.css-1afrefi>svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

._e0oiv77o:first-of-type {
  margin-top: 2px;
}

._1e0c1txw,
._jcfo1txw:active,
._1d5x1txw:focus,
._hpcc1txw:hover {
  display: flex;
}

._18m918uv {
  overflow-y: initial;
}

._1reo18uv {
  overflow-x: initial;
}

._16qsb1p5 {
  box-shadow: 0 1px 1px #091e4221, 0 0 1px #091e4221;
}

._2rkou2gc {
  border-radius: 8px;
}

._4t3i1ch3 {
  height: 150px;
}

._18s81c7h {
  margin: 16px 0;
}

._bfhk1bhr {
  background-color: #fff;
}

._80omtlke {
  cursor: pointer;
}

._19itglyw {
  border: none;
}

._n3tdidpf {
  padding-bottom: 0;
}

._ca0qidpf {
  padding-top: 0;
}

._kqswh2mm {
  position: relative;
}

.dwXEnX {
  float: right;
  margin-bottom: 8px;
}

._k8em1osq>div {
  height: 100%;
}

._4cvr1h6o,
._7yvl1h6o:active,
._1rdj1h6o:focus,
._el681h6o:hover {
  align-items: center;
}

._2rko1mnk {
  border-radius: 8px 0 0 8px;
}

._bfhklqe2 {
  background-color: #091E420F;
}

._1bsbx19p {
  width: 20%;
}

._1yt4s8vo {
  padding: 0 9pt;
}

._4cvr1h6o {
  align-items: center;
}

._1e0c1txw {
  display: flex;
}

._1itk3k66 {
  background-image: var(--_1d55lk0);
}

._4t3iymf6 {
  height: 70px;
}

._1bsb1nzx {
  width: 105px;
}

._1lrw1dfr {
  background-size: cover;
}

._1bah1h6o,
._1uc31h6o:active,
._12nc1h6o:focus,
._1dy61h6o:hover {
  justify-content: center;
}

._1bsb1n8h {
  width: 70%;
}

._1yt41e2i {
  padding: 0 24px;
}

._1bah1h6o {
  justify-content: center;
}

._2lx21bp4 {
  flex-direction: column;
}

.css-1fux2ys {
  color: #172B4D;
  margin-block: 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.008em;
  line-height: 24px;
}

._129du2gc>span:first-of-type {
  margin-left: 8px;
}

._vwz4idpf {
  line-height: 0;
}

._1n261g80 {
  flex-wrap: wrap;
}

._zulpu2gc {
  gap: 8px;
}

.css-17k26hu {
  box-sizing: border-box;
  appearance: none;
  border: none;
  background-color: #DFE1E6;
  padding-inline: 4px;
  display: inline-flex;
  border-radius: 3px;
  block-size: min-content;
  position: static;
  overflow: hidden;
}

@supports (overflow-x: clip) {
  .css-1q42gk0 {
    overflow-x: clip;
  }
}

.css-1q42gk0 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #42526E;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.css-5vjqu0 {
  display: inline-block;
  position: relative;
  line-height: 1;
  user-select: none;
  white-space: normal;
  height: 16px;
}

._19pku2gc {
  margin-top: 8px;
}

._y3gn1e5h {
  text-align: left;
}

._syaz1wmz {
  color: #6b778c;
}

._1r04idpf {
  inset: 0;
}

._r06hglyw {
  appearance: none;
}

._2rkoftgi {
  border-radius: 8px;
}

._kqswstnw {
  position: absolute;
}

._18u0idpf {
  margin-left: 0;
}

._2hwxidpf {
  margin-right: 0;
}

._bfhk18uv {
  background-color: initial;
}

._otyridpf {
  margin-bottom: 0;
}

._19pkidpf {
  margin-top: 0;
}

._19bvidpf {
  padding-left: 0;
}

._u5f3idpf {
  padding-right: 0;
}

._1bsb1osq {
  width: 100%;
}

.css-137quks {
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  height: auto;
  line-height: inherit;
  padding: 0px;
  vertical-align: baseline;
  width: auto;
  justify-content: center;
  color: #0052CC !important;
}

._19pk1l7b {
  margin-top: 3px;
}

._1wpz1y6m {
  align-self: flex-start;
}

.css-5vjqu0>svg {
  height: 100%;
  fill: inherit;
}

._19itglyw {
  transition: box-shadow 0.3s ease-in-out;
}

._19itglyw:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
