<div class="bg-title">
  <div class="header-location">
    <p>
      Quản lý dự án
      <span style="margin: 8px;">
        <img src="/assets/icon/project/Icon-arrow.svg" alt="">
      </span>
      <a href="">Hợp đồng</a>
    </p>
  </div>
  <div class="bg-header-text">

    <div class="header-text">
      <h3>Hợp đồng</h3>
    </div>
    <div class="bg-header-text-button">
      <button>Tạo hợp đồng</button>
    </div>
  </div>
</div>

<div class="content-body">
  <div class="header-map">
    <h6>Danh sách</h6>
    <p>
      <img src="/assets/icon/project/Icon.svg" alt="">
    </p>
  </div>

  <nz-table
  [nzShowPagination]="false"
  [nzData]="projects"
  >
    <thead>
      <tr>
        <th>Tên dự án</th>
        <th>Mã dự án</th>
        <th>Tên khách hàng</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td routerLink="/project/work-summary">{{ project.projectName }}</td>
        <td>TSP-{{ project.projectID }}</td>
        <td>{{ project.clientContactName }}</td>
        <td>{{ project.clientContactEmail }}</td>
        <td>{{ project.clientContactPhone }}</td>
        <td>{{ project.createdDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{ project.endDate | date: 'dd-MM-yyyy'}}</td>
        <td></td>
        <td style="display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 55px;">
          <span nz-icon nzType="delete" nzTheme="outline" (click)="showDelete()"></span>
          <span nz-icon nzType="form" nzTheme="outline" (click)="showUpdate()"></span>
          <span nz-icon nzType="copy" nzTheme="outline"></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>


<!-- Modal Delete -->
<nz-modal
  [(nzVisible)]="isDelete"
  [nzFooter]="null"
  nzWidth="480px"
>
<ng-container *nzModalContent>
  <div class="deleteModal">
    <div class="warring" style="margin-bottom: 10px;">
      <img src="/assets/icon/project/icon-warring.svg" alt="">
    </div>
    <h5>Xóa dự án</h5>
    <p>Dự án bị xóa sẽ biến mất khỏi hệ thống bao gồm tất cả các thông tin đã lưu và các tài nguyên mà dự án đó đang sở hữu. Bạn chắc chắn muốn xóa dự án?</p>
  </div>
  <div class="footer">
    <button (click)="isDelete = false" class="footer-cancel">Hủy</button>
    <button class="footer-add">Xác nhận</button>
  </div>
</ng-container>
</nz-modal>


<!-- Modal Update -->
<nz-modal
  [(nzVisible)]="isUpdate"
  [nzFooter]="null"
  nzTitle="Chỉnh sửa thông tin hợp đồng dự án "
  nzWidth="800px"
>
<ng-container *nzModalContent>
  <div class="form-project">
    <form>
      <div class="scrollable-table-form-project">
        <div class="block-form">
          <label for=""> Mô tả dự án</label>
          <input style="width: 97%;" nz-input  nzSize="large" />
        </div>
        <div class="block-form">
          <label for="">Ngày khởi tạo</label>
          <nz-date-picker nzSize="large" style="width: 97%;" [nzFormat]="dateFormat" name="createdDate" required></nz-date-picker>
        </div>
        <div class="block-form">
          <label for="">Ngày hết hạn</label> <br>
          <nz-date-picker nzSize="large" style="width: 97%;" [nzFormat]="dateFormat" name="createdDate" required></nz-date-picker>
        </div>

        <!-- Tên khánh hàng -->
        <div class="block-form">
          <label for="">Tên khách hàng</label>
          <input style="width: 97%;" nz-input  nzSize="large" />
        </div>
        <!-- Email khách hàng -->
        <div class="block-form">
          <label for="">Email liên hệ</label>
          <input style="width: 97%;" nz-input  nzSize="large" />
        </div>
        <!-- Số điện thoại -->
        <div class="block-form">
          <label for="">Số điện thoại</label>
          <input style="width: 97%;" nz-input nzSize="large" />
        </div>
      </div>
      <div class="footer">
        <button (click)="isUpdate = false" class="footer-cancel">Hủy</button>
        <button class="footer-add">Xác nhận</button>
      </div>

    </form>
  </div>
</ng-container>
</nz-modal>
