<div class="d-flex justify-content-between align-content-center ">

  <!-- Tìm kiếm -->
  <div class="_1e0c1txw _1bah1h6o _4cvr1h6o _kqswh2mm col-7">

    <ng-template #prefixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <nz-input-group [nzPrefix]="prefixIconSearch" style="border-radius: 5px; width: 220px;">
      <input type="text" nz-input placeholder="Search" />
    </nz-input-group>

  </div>
  <span class="align-content-center d-flex justify-content-evenly col-4">

    <!-- Thông báo -->
    <div class="css-79elbk mt-1">
      <button class="css-1iyy2v3" tabindex="0" type="button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="thongbao">
        <img src="/assets/icon/header/bell-ring.svg" width="24px" height="20px" alt="">
      </button>
      <nz-dropdown-menu #thongbao="nzDropdownMenu">
        <section class="rX4pAv5sWHFNjp" style="width: 432px;">
          <div class="q2PzD_Dkq1FVX3 px-0 pt-0 pb-0" style="max-height: 350px;">
            <div class="_8zTBxn0m5lTMy">
              <h2 class="H4fT4sASNA2Taj">Thông báo</h2>
              <div class="rDH6qyTyptksI2">
                <div class="SYN_omQ3Gz1hHr">
                  <label class="ibZwmDCafiF4lw">Chỉ hiển thị chưa đọc</label>
                  <div class="VqTUkejZ_nWYpi">
                    <label class="css-14u1mwe">
                      <input name="" type="checkbox" value="" checked="">
                      <span class="css-1wits42">
                        <svg width="24" height="24" viewBox="0 0 24 24" >
                          <path d="M7.356 10.942a.497.497 0 00-.713 0l-.7.701a.501.501 0 00-.003.71l3.706 3.707a.501.501 0 00.705.003l7.712-7.712a.493.493 0 00-.006-.708l-.7-.7a.504.504 0 00-.714 0l-6.286 6.286a.506.506 0 01-.713 0l-2.288-2.287z" fill="currentColor"></path>
                        </svg>
                      </span>
                      <span class="css-1wits42">
                        <svg width="24" height="24" viewBox="0 0 24 24">
                          <path d="M15.185 7.4l-3.184 3.185-3.186-3.186a.507.507 0 00-.712.003l-.7.701a.496.496 0 00-.004.712l3.185 3.184L7.4 15.185a.507.507 0 00.004.712l.7.7c.206.207.516.2.712.004l3.186-3.185 3.184 3.185a.507.507 0 00.712-.004l.701-.7a.496.496 0 00.003-.712l-3.186-3.186 3.186-3.184a.507.507 0 00-.003-.712l-.7-.7a.508.508 0 00-.36-.153.5.5 0 00-.353.15z" fill="currentColor" fill-rule="evenodd"></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </div>
                <button class="bxgKMAm3lq5BpA iUcMblFAuq9LKn HAVwIqCeMHpVKh SEj5vUdI3VvxDc" type="button">
                  <span class="css-1wits42">
                    <svg width="24" height="24" viewBox="0 0 24 24" >
                      <g fill="currentColor" fill-rule="evenodd">
                        <circle cx="12" cy="19" r="2"></circle>
                        <circle cx="12" cy="12" r="2"></circle>
                        <circle cx="12" cy="5" r="2"></circle>
                      </g>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <div class="vOLdg0HsXFvyUb"></div>
            <div class="PkIwBa_klKkOBK">
              <div class="LynLTYmHc7FX_4">
                <div class="Om59gd_FtHVFoG undefined">
                  <img alt="Taco" src="/assets/icon/auth/ee2660df9335718b1a80.svg">
                  <h3> Hiện nay không có thông báo</h3>
                </div>
              </div>
            </div>
          </div>
        </section>
      </nz-dropdown-menu>
    </div>
    <!-- Dấu hỏi -->
    <div class="css-79elbk mt-1">
      <div role="presentation">
        <button class="css-1iyy2v3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="dauhoi">
          <img src="/assets/icon/header/question-mark-circled.svg" width="24px" height="20px" alt="">
        </button>
      </div>
      <nz-dropdown-menu #dauhoi="nzDropdownMenu">
        <section class="rX4pAv5sWHFNjp js-react-root" style=" width: 430px;">
          <div class="q2PzD_Dkq1FVX3" style="max-height: 430px;">
            <div class="F4nMlERXtjgVSA">
              <div>
                <a class="H0S2ogdJ6tar2l">
                  <div class="hWXNIxUgkLiuL3" style="background-color: rgb(14, 106, 179);">
                    <img src="/assets/image/intro/dauhoi.png">
                  </div>
                  <h3 class="rGe5dyTQVZvd4l">Được truyền cảm hứng bởi hàng loạt cách làm việc khác nhau từ Trello</h3>
                </a>
                <button class="bxgKMAm3lq5BpA ctJF4taPJ4WGY0 PnEv2xIWy3eSui SEj5vUdI3VvxDc" type="button">Xem một mẹo mới.</button>
              </div>
              <hr class="yZlKot1QQShBaf">
              <ul class="nwzAW7W4EsHpzt">
                <li class="cI2xXbCz3EMhUG"><a class="NH25rIgeJSwTNZ" href="#">Biểu phí</a></li>
                <li class="cI2xXbCz3EMhUG"><a class="NH25rIgeJSwTNZ" href="#">Ứng dụng</a></li>
                <li class="cI2xXbCz3EMhUG"><a class="NH25rIgeJSwTNZ" href="#">Blog</a></li>
                <li class="cI2xXbCz3EMhUG"><a class="NH25rIgeJSwTNZ" href="#">Chính sách Bảo mật</a></li>
                <li class="cI2xXbCz3EMhUG"><a class="NH25rIgeJSwTNZ" href="#">Thông báo thu thập thông tin</a></li>
                <li class="cI2xXbCz3EMhUG"><button class="O6WKQCSaqOtSOT NH25rIgeJSwTNZ bxgKMAm3lq5BpA ctJF4taPJ4WGY0 SEj5vUdI3VvxDc" type="button">Thêm</button></li>
              </ul>
            </div>
          </div>
        </section>
      </nz-dropdown-menu>
    </div>
    <!-- Cài đặt -->
    <div class=" css-79elbk mt-1">
      <button class="css-1iyy2v3" type="button" (click)="openDrawer()">
        <img src="/assets/icon/header/setting-2.svg" width="24px" height="20px" alt="">
      </button>
      <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Quản trị hệ thống" (nzOnClose)="closDrawer()">
        <ng-container *nzDrawerContent>
          <p-button [text]="true" severity="info" routerLink="/user/signup">Quản lý người dùng</p-button>
          <br />
          <br />
          <p-button [text]="true" severity="success">Quản lý công việc</p-button>
          <br /><br />
          <p-button [text]="true" severity="secondary">Quản lý dự án</p-button>
        </ng-container>
        </nz-drawer>
    </div>
    <!-- Tài Khoản -->

    <div class=" css-79elbk mt-1 " *ngFor="let member of userData">
      <button class="css-1iyy2v3" type="button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="taikhoan" >
        <img src="{{ member.picture }}" width="24px" height="20px" alt="">
      </button>
      <nz-dropdown-menu #taikhoan="nzDropdownMenu" class="css-nqshte">
        <div class="_1ul911kg _p12f1c3h _2d79idpf _1ru1kb7n _1gedkb7n _1of4kb7n" nz-menu>
          <div class="css-4mjcmd" style="max-height: calc(100vh - 200px)">
            <div class="css-nqshte">
              <div class="css-xhdqsk">Tài Khoản</div>
              <a class="_lcxvglyw css-1m7bkbm" *ngFor="let member of userData">
                <span class="css-12dc8u4">
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">
                      <div class="_1e0c1txw _2lx2vrvc">
                        <div class="_1e0c1txw _1bah1h6o _4cvr1h6o _2hwxu2gc">
                          <div style=" display: inline-block; position: relative; outline: 0px; ">
                            <span class="css-1qdk52b">
                              <img src="{{ member.picture }}" />
                            </span>
                          </div>
                        </div>
                        <div class="_2lx29ee3">

                          <div class="_vwz4gktf">{{ member.fullName }}</div>
                          <small>{{ member.emailAddress }}</small>

                        </div>
                      </div>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="css-bc3sqp">
              <a class="css-1m7bkbm">
                <span class="css-12dc8u4">
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">Khởi động nhanh</span>
                  </span>
                </span>
              </a>
              <a class="css-1m7bkbm">
                <span class="css-12dc8u4">
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">Hồ sơ</span>
                  </span>
                </span>
              </a>
              <a class="css-1m7bkbm">
                <span class="css-12dc8u4">
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">Thiết lập cá nhân</span>
                  </span>
                </span>
              </a>
              <a class="css-1m7bkbm">
                <span class="css-12dc8u4">
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">Thông báo</span>
                  </span>
                </span>
              </a>
              <button class="css-1m7bkbm" data-bs-toggle="dropdown" type="button" >
                <span class="css-12dc8u4">
                  <span class="css-1uww2tp">
                    <span class="css-5mekwu">
                      <span class="_2hwxpxbi">Chủ đề</span>
                    </span>
                  </span>
                  <span class="css-1rnc8rc">
                    <span nz-icon nzType="right" nzTheme="outline"></span>
                  </span>
                </span>
              </button>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item text-black fs-6" href="#">Chủ đề sáng</a></li>
                <li><a class="dropdown-item text-black fs-6" href="#">Chủ đề tối</a></li>
              </ul>

            </div>
            <div class="css-bc3sqp">
              <span>
                <a class="_9h8h1kw7 _f8pj1kw7 _30l31kw7 _1nrm18uv _1a3b18uv _9oik18uv _c2wa1kw7 _4fpr1kw7 _1bnx1kw7 _1iohnqa1 _5goinqa1 _jf4cnqa1 css-1m7bkbm">
                  <span class="css-12dc8u4">
                    <span class="css-1uww2tp">
                      <span class="css-5mekwu" nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn muốn đăng xuất không?" nzPopconfirmPlacement="bottomRight" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">Đăng xuất</span>
                    </span>
                  </span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
  </span>
</div>
