<div class="css-auqgo3">
  <div class="css-nx4o62">
    <div class="css-1iefl20">
      <section role="main" class="css-y1ezbx">
        <div class="css-146wmq">
          <span role="img" class="css-a3l9jr" routerLink="/auth">
            <img src="/assets/logo/Asset 2.png"  alt="Logo Task Software" />
          </span>
        </div>

        <div class="inner-content">

          <router-outlet></router-outlet>

        </div>

        <div class="google-login social-login css-1n7nx3r">
          <span class="css-1n7nx3r-before">Hoặc tiếp tục với:</span>
          <div class="css-1vymulm">
            <button id="google-auth-button" aria-busy="false" class="css-8x8i7r css-q2jxx8" tabindex="0" type="button">
              <span class="css-bwxjrz">
                <img src="/assets/icon/intro/googleapps.svg" alt="" />
              </span>
              <span class="css-178ag6o"> Đăng nhập với Google</span>
            </button>
          </div>
        </div>
        <div class="css-9bikgd">
          <ul>
            <li>
              <a id="resetPassword">Bạn không đăng nhập được?</a>
            </li>
            <p class="css-1x34ed1">•</p>
            <li>
              <a id="signup" class="primary-action" routerLink="/auth/signup">Tạo tài khoản</a>
            </li>
          </ul>
        </div>
        <div class="css-pj36kz"></div>
        <div class="css-q9nxjt">
          <footer class="css-1tn479n">
            <span aria-label="Atlassian" class="css-1eu9lrx" >
              <img class="js-lazy-image js-lazy-image-handled" src="/assets/icon/auth/meister.svg" width="138" height="32">
            </span>
            <div class="css-ftz4sr">
              Một tài khoản cho Task và
              <a class="css-1gc25jr">sản phẩm khác</a>.
            </div>
          </footer>
          <ul class="fine-print">
            <li>
              <a href="#" class="css-1gc25jr">Chính sách quyền riêng tư</a>
            </li>
            <p class="css-1x34ed1">•</p>
            <li>
              <a href="#" class="css-1gc25jr">Lưu ý dành cho người dùng</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
