<nz-layout class="app-layout">
  <nz-sider
  class="menu-sidebar"
  nzWidth="276px"
  nzCollapsible
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="./assets/logo/Artboard 1.jpg" alt="" />
    </div>
    <div style="height: 1px; border-bottom: 1px solid #E5E8EB; width: 228px; margin-left: 22px;"></div>

    <ul nz-menu nzMode="inline">

      <li nz-menu-item nzSelected routerLink="/project">
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        Trang chủ
      </li>

      <li nz-submenu nzTitle="Quản lý dự án" nzIcon="reconciliation" nzOpen>
        <ul>
          <li nz-menu-item routerLink="/project/project-list">Tổng quan dự án</li>
          <li nz-menu-item routerLink="/project/project-view">Hợp đồng</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Quản lý công việc" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item>Danh sách công việc</li>
          <li nz-menu-item>Trạng thái công việc</li>
          <li nz-menu-item>Thống kê và Báo cáo</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Hệ thống nhân sự" nzIcon="solution" nzOpen>
        <ul>
          <li nz-menu-item>Danh sách người dùng</li>
          <li nz-menu-item>Quản lý nhóm</li>
        </ul>
      </li>

      <li nz-menu-item>
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        Cài đặt
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-header">

      <div class="card-header-tabs">
        <div class="header-search"></div>
        <div class="header-item">

          <div class="header-item-notification" nz-dropdown nzTrigger="click" [nzDropdownMenu]="notification">
            <nz-badge [nzDot]="dot">
              <span nz-icon nzType="bell" style="font-size: 22px;" nzTheme="outline"></span>
            </nz-badge>
            <nz-dropdown-menu #notification="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <span nz-icon nzType="user-switch" nzTheme="outline"></span>
                  Quản lý tài khoản
                </li>
                <li nz-menu-item>
                  <span nz-icon nzType="bulb" nzTheme="outline"></span>
                  Chế độ : Sáng
                </li>
                <li nz-menu-item>
                  <span nz-icon nzType="logout" nzTheme="outline"></span>
                  Đăng xuất
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <div class="header-item-message">
            <span nz-icon nzType="control" style="font-size: 22px;" nzTheme="outline"></span>
          </div>
          <div class="header-item-avatar" nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="users">
            <nz-avatar [nzSize]="28" style="background-color: #EE0033" nzText="D"></nz-avatar>
            <nz-dropdown-menu #users="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <span nz-icon nzType="user-switch" nzTheme="outline"></span>
                  Quản lý tài khoản
                </li>
                <li nz-menu-item>
                  <span nz-icon nzType="bulb" nzTheme="outline"></span>
                  Chế độ : Sáng
                </li>
                <li nz-menu-item (click)="showModal()">
                  <span nz-icon nzType="logout" nzTheme="outline"></span>
                  Đăng xuất
                </li>
                <nz-modal
                [(nzVisible)]="isVisible"
                [nzFooter]="null"
                (nzOnCancel)="handleCancel()"
                nzWidth="420px"
                >
                  <ng-container *nzModalContent>
                    <div class="bg-modal-body" style="height: 420px;">
                      <div class="bg-background"></div>
                      <div class="bg-avatar">
                        <div>
                          <img src="./assets/image/project/Thumbnail.png" alt="">
                        </div>
                        <div class="bd-info">
                          <h5 class="bd-info-name">Dong Van Cong</h5>
                          <p class="bd-info-email">dongvancong24&#64;gmail.com</p>
                        </div>
                        <button class="bg-button">Đăng xuất khỏi hệ thống</button>

                        <div style="height: 1px; align-self: stretch; width: 100%; border: 1px solid #EBEBEB; margin-bottom: 24px;"></div>

                        <div class="bd-logout">
                          <h5 class="bd-logout-text">Đăng nhập bằng tài khoản khác</h5>
                        </div>

                      </div>
                    </div>

                  </ng-container>
                </nz-modal>
              </ul>
            </nz-dropdown-menu>
          </div>

        </div>
      </div>

    </nz-header>
    <nz-content>

      <div class="inner-content">

        <div class="bg-title">
          <div class="bg-header-text">
            <div class="header-text">
              <h5>Trang chủ</h5>
              <p>Date time oct, 08-11-2023</p>
            </div>
            <div class="bg-header-text-button">
              <button>Thêm mới</button>
            </div>
          </div>
          <div class="bg-header-tabs">
            <nz-tabset>
              <nz-tab nzTitle="Tổng quan"></nz-tab>
              <nz-tab nzTitle="Hồ sơ" (nzClick)="hideContent()"></nz-tab>
              <nz-tab nzTitle="Thống kê" (nzClick)="hideContent()"></nz-tab>
              <nz-tab nzTitle="Tin nhắn" (nzClick)="hideContent()"></nz-tab>
              <nz-tab nzTitle="Nhóm" (nzClick)="hideContent()"></nz-tab>
              <nz-tab nzTitle="Thông báo" (nzClick)="hideContent()"></nz-tab>
              <nz-tab nzTitle="Thiết lập" (nzClick)="hideContent()">
                <app-settings></app-settings>
              </nz-tab>
            </nz-tabset>
          </div>
        </div>

        <router-outlet></router-outlet>

      </div>

    </nz-content>
  </nz-layout>
</nz-layout>
