<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzWidth="276px"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="/assets/logo/logo-web.png" alt="" />
    </div>
    <div style="height: 1px; border-bottom: 1px solid #E5E8EB; width: 228px; margin-left: 22px;"></div>

    <ul nz-menu nzMode="inline">

      <li nz-menu-item nzSelected routerLink="/project">
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        Trang chủ
      </li>

      <li nz-submenu nzTitle="Quản lý dự án" nzIcon="reconciliation" nzOpen>
        <ul>
          <li nz-menu-item routerLink="/project/project-list">Tổng quan dự án</li>
          <li nz-menu-item routerLink="/project/project-view">Hợp đồng</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Quản lý công việc" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item>Danh sách công việc</li>
          <li nz-menu-item>Trạng thái công việc</li>
          <li nz-menu-item>Thống kê và Báo cáo</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Hệ thống nhân sự" nzIcon="solution" nzOpen>
        <ul>
          <li nz-menu-item>Danh sách người dùng</li>
          <li nz-menu-item>Quản lý nhóm</li>
        </ul>
      </li>

      <li nz-menu-item routerLink="/project/setting">
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        Cài đặt
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-header">

      <div class="card-header-tabs">
        <div class="header-search"></div>
        <div class="header-item">

          <div class="header-item-notification" nz-dropdown nzTrigger="click" [nzDropdownMenu]="notification">
            <nz-badge [nzDot]="dot">
              <span nz-icon nzType="bell" style="font-size: 22px;" nzTheme="outline"></span>
            </nz-badge>
            <nz-dropdown-menu
            #notification="nzDropdownMenu"
            >

            </nz-dropdown-menu>
          </div>
          <div class="header-item-message">
            <span nz-icon nzType="control" style="font-size: 22px;" nzTheme="outline"></span>
          </div>
          <div class="header-item-avatar" nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="users" *ngFor="let member of userData">
            <nz-avatar [nzSize]="28" style="background-color: #1890ff" nzText="D"></nz-avatar>
            <nz-dropdown-menu #users="nzDropdownMenu" >
              <ul nz-menu>
                <li nz-menu-item>
                  <span nz-icon nzType="user-switch" nzTheme="outline" style="font-size: 18px;"></span>
                  Quản lý tài khoản
                </li>
                <li nz-menu-item>
                  <span nz-icon nzType="bulb" nzTheme="outline" style="font-size: 18px;"></span>
                  Chế độ : Sáng
                </li>
                <li nz-menu-item (click)="showModal()">
                  <span nz-icon nzType="logout" nzTheme="outline" style="font-size: 18px;"></span>
                  Đăng xuất
                </li>
                <nz-modal
                [(nzVisible)]="isVisible"
                [nzFooter]="null"
                (nzOnCancel)="handleCancel()"
                nzWidth="420px"
                >
                  <ng-container *nzModalContent>
                    <div class="bg-modal-body" style="height: 420px;" >
                      <div class="bg-background"></div>
                      <div class="bg-avatar">
                        <div>
                          <img src="./assets/image/project/Thumbnail.png" alt="">
                        </div>
                        <div class="bd-info">
                          <h5 class="bd-info-name">{{ member.fullName }}</h5>
                          <p class="bd-info-email">{{ member.emailAddress }}</p>
                        </div>
                        <button class="bg-button" (click)="logout()">Đăng xuất khỏi hệ thống</button>

                        <div style="height: 1px; align-self: stretch; width: 100%; border: 1px solid #EBEBEB; margin-bottom: 24px;"></div>

                        <div class="bd-logout">
                          <h5 class="bd-logout-text">Đăng nhập bằng tài khoản khác</h5>
                        </div>

                      </div>
                    </div>

                  </ng-container>
                </nz-modal>
              </ul>
            </nz-dropdown-menu>
          </div>

        </div>
      </div>

    </nz-header>
    <nz-content>

      <div class="inner-content">

        <router-outlet></router-outlet>

      </div>

    </nz-content>
  </nz-layout>
</nz-layout>
