<div class="bg-title">
  <div class="bg-header-text">
    <div class="header-text">
      <h5>Cài đặt</h5>
      <p>Date time oct, 08-11-2023</p>
    </div>
    <div class="bg-header-text-button">
      <button>Hỗ trợ</button>
    </div>
  </div>
</div>

<div class="content-body">
  <div class="container-fluid">
    <div class="slideshow scrollable-table">
      <h5>Cài đặt & quyền riêng tư</h5>
      <nz-input-group [nzSuffix]="suffixIconSearch" class="input-group-custom">
        <input type="text" nz-input placeholder="Tìm kiếm cài đặt" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>

      <div class="box-contact">
        <h6>Trung tâm tài khoản</h6>
        <p>Quản lý phần cài đặt tài khoản và trải nghiệm kết nối trên các công nghệ của Task.</p>
        <ul>
          <li>
            <span nz-icon nzType="solution" nzTheme="outline"></span>
            Thông tin cá nhân
          </li>
          <li>
            <span nz-icon nzType="safety-certificate" nzTheme="outline"></span>
            Mật khẩu bảo mật
          </li>
          <li>
            <span nz-icon nzType="fund-view" nzTheme="outline"></span>
            Tùy chọn quảng cáo
          </li>
          <li>
            <span nz-icon nzType="idcard" nzTheme="outline"></span>
            Xác minh
          </li>
          <li style="color: #0052CC;"> Xem thêm trong trung tâm tài khoản</li>
        </ul>
      </div>

      <div style="border: 1px solid #E5E8EB; height: 1px;"></div>

      <div class="box-container">
        <h6>Công cụ và nguồn lực</h6>
        <p>Công cụ của chúng tôi hỗ trợ bạn kiểm soát và quản lý </p>
        <ul>
          <li>
            <span nz-icon nzType="user-switch" nzTheme="outline"></span>
            Kiểm soát quyền riêng tư
          </li>
          <li>
            <span nz-icon nzType="partition" nzTheme="outline"></span>
            Giám sát
          </li>
          <li>
            <span nz-icon nzType="setting" nzTheme="outline"></span>
            Cài đặt đối tượng mặc định
          </li>
        </ul>
      </div>

      <div style="border: 1px solid #E5E8EB; height: 1px;"></div>

      <div class="box-content">
        <h6>Tùy chọn</h6>
        <p>Tùy chỉnh trải nghiệm của bạn trên Task Software.</p>
        <ul>
          <li>
            <span nz-icon nzType="user-switch" nzTheme="outline"></span>
            Tùy chọn về cảm xúc
          </li>
          <li>
            <span nz-icon nzType="bell" nzTheme="outline"></span>
            Thông báo
          </li>
          <li>
            <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>
            Ngôn ngữ
          </li>
          <li>
            <span nz-icon nzType="file" nzTheme="outline"></span>
            File
          </li>
          <li>
            <span nz-icon nzType="form" nzTheme="outline"></span>
            Chế độ
          </li>
        </ul>
      </div>

      <div style="border: 1px solid #E5E8EB; height: 1px;"></div>

      <div class="box-pay">
        <h6>Thanh toán</h6>
        <p>Quản lý hoạt động và thông tin thanh toán của bạn.</p>
        <ul>
          <li>
            <span nz-icon nzType="dollar" nzTheme="outline"></span>
            Thanh toán quảng cáo
          </li>
        </ul>
      </div>
    </div>

    <div class="content scrollable-table">
      <h5>Tìm cài đặt bạn cần</h5>

      <nz-input-group [nzSuffix]="suffixIconSearch" class="input-group-custom">
        <input type="text" nz-input placeholder="Tìm kiếm cài đặt" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>

      <div class="content-setting">
        <h5>Cài đặt truy cập nhiều nhất</h5>

        <div class="content-box">
          <div class="box">
            <img src="/assets/icon/project/ld-Zsjv9G5f.png" alt="">
            <h6>Chặn</h6>
            <p>Xem lại những thành viên mà bạn từng chặn hoặc thêm ai đó vào danh sách chặn của bạn</p>
          </div>
          <div class="box">
            <img src="/assets/icon/project/QNEk4A5AwWa.png" alt="">
            <h6>Nhật ký hoạt động</h6>
            <p>Xem và quản lý hoạt động của bạn trên Task Software</p>
          </div>
          <div class="box">
            <img src="/assets/icon/project/74SnwhHSvy2.png" alt="">
            <h6>Chế độ tối</h6>
            <p>Chọn em bạn có muốn sử dụng chế độ tối không</p>
          </div>
        </div>

        <div class="contact-page">
          <h5>Bạn đang tìm gì khác?</h5>
          <div class="page-items">
            <div class="item-img">
              <img src="/assets/icon/project/2ZgtF5KmDhL.png" alt="">
            </div>
            <div class="item-text">
              <h6>Trung tâm thư báo hỗ trợ</h6>
              <p>Tìm hiểu cách quản lý và kiểm soát thư báo của bạn trên các sản phẩm của Task Software</p>
            </div>
            <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
          </div>
          <div></div>
        </div>

      </div>

    </div>

  </div>
</div>
