/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import'./assets/styles/color.scss';


*{
  font-family: 'Sarabun', sans-serif;
}
::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}
.ant-table-tbody > tr > td {
  text-align: center;
}
::-webkit-scrollbar-thumb {
  background: #1890ff;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #1890ff;
}
.ant-modal-close-x {
  display: none !important;
}
.ant-modal-wrap {
  overflow: unset !important;
}
.cdk-global-scrollblock {
  overflow-y: auto !important;
}
.ant-menu-inline.ant-menu-root
.ant-menu-submenu-title {
  gap: 16px;
}
.ant-menu-item
.ant-menu-item-icon + span,
.ant-menu-item .anticon + span,
.ant-menu-submenu-title
.ant-menu-item-icon + span,
.ant-menu-submenu-title
.anticon + span {
  margin-left: 0 !important;
}
.ant-menu-sub.ant-menu-inline {
  background: #FFFFFF !important;
}
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon{
  min-width: 18px !important;
  font-size: 18px !important;
}
.ant-menu-inline >
.ant-menu-submenu >
.ant-menu-submenu-title{
  height: 50px !important;
  line-height: 50px !important;
}
.ant-menu-inline > .ant-menu-item{
  height: 50px !important;
  line-height: 50px !important;
}
.ant-tabs-tab-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.ant-pagination-item {
  border: none !important;
}
.ant-pagination-next
.ant-pagination-item-link,
.ant-pagination-prev
.ant-pagination-item-link {
  border: none !important;
}

td.nz-disable-td.ant-table-cell {
  padding-left: 50px;
}

// Board
.ant-picker-input > input:placeholder-shown {
  text-overflow: ellipsis;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.ant-modal-title {
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 28px;
  letter-spacing: -0.1000000015px;
  text-align: left;
  color: #272D37;
  margin: 0;
}
