// background-Color

$color-background: #FFFFFF;
$color-background-body: #F5F8FA;

// Text
$color-text-title :#181C32;
$color-text-body-black:#000000;
$color-text-disable: #74808B;
$color-text-subTitle: #EE0033;
$color-text-body-white: #FFFFFF;


// Icon
$color-icon-disable: #707070;


// Button
$color-button-red: #1890ff;


// Border
$color-border: #E5E8EB;
