<div  class="content">
  <div class="container-fluid scrollable-table">
    <div class="container-right">
      <div class="search">

      </div>
      <div class="role-team">

      </div>
    </div>
    <div class="container-left">
      <button>
        <span nz-icon nzType="share-alt" nzTheme="outline"></span>
        Chia sẻ
      </button>
      <button>
        Vấn đề
      </button>
      <button>
        <span nz-icon nzType="bars" nzTheme="outline"></span>
        Chế độ xem danh sách
      </button>
      <button>
        <span nz-icon nzType="compress" nzTheme="outline"></span>
        Góc nhìn chi tiết
      </button>
      <button>
        <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
      </button>
    </div>
  </div>

  <div class="container-fluid-2">
    <div class="container-right">
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Danh sách tìm kiếm" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="role-team">
        <button>
          <span nz-icon nzType="share-alt" nzTheme="outline"></span>
          Dự án
        </button>
        <button>
          <span nz-icon nzType="align-center" nzTheme="outline"></span>
          Kiểu
        </button>
        <button>
          <span nz-icon nzType="menu" nzTheme="outline"></span>
          Trạng thái
        </button>
        <button>
          <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
          Người được chuyển nhượng
        </button>
        <button>
          <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
          Hơn
        </button>
        <a href="">Lưu bộ lọc</a>
      </div>
    </div>
    <div class="container-left"></div>
  </div>



  <div class="container-body">

  </div>
</div>
